.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.mainContainer h1 {
    font-size: 50px;
    color: #276873;
    text-shadow: 2px 2px 3px lightslategray
}